.vocab {
    margin-top: 50px;
    padding: 5%;
}
hr {
    border-top: 3px dashed;
}
.que {
    font-weight: 500;
}
.correct { color: green;
     margin-left: 300px;
      font-weight: 500; }
 
.wrong { color: red;
    margin-left: 300px;
    font-weight: 500; }
.col-2 {
        align-items: center;
        justify-content: center;
}
.next-btn {
        margin-top: 10px;
        border: 1px solid black;
}
.next-btn:hover {
    background-color: #606C38;
    color: #fff;
}
.next-btn a{
      text-decoration: none;
      color: black;
}
     